.create-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #f8f9fa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-left: 75px;
  margin-right: -140px;
}

.create-group-container {
  width: 60%;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.create-group-container h2 {
  text-align: center;
  color: #000000;
}

.create-group-container form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.create-group-container label {
  margin-bottom: 0.5em;
  color: #000000;
}

.create-group-container input,
.create-group-container select {
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.create-group-container button {
  padding: 0.5em 1em;
  margin-top: 1em;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
.create-group-container select {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.create-group-container button:hover {
  background-color: #0056b3;
}
