.create-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--main-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-left: 75px;
  margin-right: -140px;
}

.create-group-container {
  width: 60%;
  background-color: var(--main-white);
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.create-group-container form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.create-group-container label {
  color: var(--main-dark-color);
}

.create-group-container input,
.create-group-container select {
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.create-group-container button {
  padding: 0.5em 1em;
  margin-top: 1em;
  background-color: var(--main-color);
  color: var(--main-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}
.create-group-container select {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.create-group-container button:hover {
  background-color: var(--hover-color);
}

h2 {
  font-family: "Orbitron", sans-serif;
  color: var(--main-color);
  font-size: 2em;
  text-align: center;
}
