.app-body {
  margin: 0 auto;
  width: 840px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
.studdybuddy-font {
  font-family: 'Kalam';
  text-align: center;
  padding: 20px;
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 2px;
}

.studdybuddy-color-blue {
  color: #5f81f2;
}

.studdybuddy-color-white {
  color: white;
}