.sidebar {
  width: 140px;
  height: 100vh;
  background-color: var(--main-light-grey);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#logo {
  margin-bottom: 1em;
  width: 100px;
  height: 100px;
}

.username {
  margin-bottom: 2em;
  font-size: 1.5em;
  font-family: "Orbitron", sans-serif;
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
}

.side-bar-item,
.dropbtn {
  width: 100%;
  padding: 1em 0;
  text-decoration: none;
  color: var(--main-dark-color);
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  margin-bottom: 0.5em;
  cursor: pointer;
  border-radius: 10px;
}

.side-bar-item i,
.dropbtn i {
  margin-right: 1em;
  color: var(--main-color);
  font-size: 1.1em;
}

.study-groups i {
  margin-right: 0.5em;
  color: var(--main-color);
  font-size: 1.1em;
}

.dropdown-content a:hover {
  background-color: var(--hover-color);
  color: var(--main-white);
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 0px;
  box-shadow: 0px 8px 16px 0px rgba(72, 66, 249, 0.2);
  z-index: 1;
  background-color: var(--main-white);
  width: 100%;
  top: 80%;
}

.dropdown-content a {
  color: var(--main-dark-color);
  padding: 0.8em;
  text-decoration: none;
  display: block;
  background-color: var(--main-white);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.study-groups {
  width: 100%;
  color: var(--main-dark-color);
  padding-top: 1em;
}

.group-title {
  font-size: 1em;
  color: var(--main-dark-color);
  margin-bottom: 0.5em;
}

.group-list {
  width: 120%;
  color: var(--main-dark-color);
  max-height: 125px;
  overflow-y: scroll;
  direction: rtl;
}

.group-list::-webkit-scrollbar {
  width: 6px; 
}

.group-list::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.group-list::-webkit-scrollbar-thumb {
  background: var(--main-dark-color); 
  border-radius: 6px; 
}

.group-list a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 700;
  padding: 10px 2px 10px 10px;
  transition: background-color 0.2s ease;
  text-align: left;
}

.group-list a:hover {
  background-color: var(--hover-color);
  color: var(--main-white);
}

.sidebar .side-bar-item:last-child {
  position: absolute;
  bottom: 70px;
  left: 30px;
}
