.UserProfileForm-root {
  display: flex;
  gap: 1rem;
}

.UserProfileForm-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 1rem;
  width: 70%;
  margin: auto;
  text-align: center;
}

.UserProfileForm-title {
  color: #333;
  font-weight: 500;
  margin-bottom: 1rem;
}

.UserProfileForm-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.UserProfileForm-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.UserProfileForm-input input {
  flex-grow: 1;
  border: none;
  outline: none;
}

.UserProfileForm-button {
  background-color: #3f51b5;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.UserProfileForm-button:hover {
  background-color: #304fe0;
}
