.user-fullname {
  margin-top: 15px;
  font-size: 2em;
  font-weight: bold;
  padding-right: 180px;
}

.user-username,
.user-email {
  margin: 10px 0;
  font-size: 1.2em;
  color: gray;
}

.groups-title {
  margin-top: 25px;
  font-size: 1.3em;
  font-weight: bold;
  font-style: oblique;
}

.user-groups {
  list-style-type: none;
  padding: 0;
}

.group-name {
  margin: 6px 0;
  font-size: 1.1em;
  color: darkblue;
}
