.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 10000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #888;
  width: 30%; 
  max-width: 600px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add your own styles for Budy inside the modal */
.user-profile-card {
  width: 100%; /* Make it take up the entire width of the modal */
}

/* You can add more styles as needed */
