.feed-container {
  justify-content: center;
  margin-top: 10%;
}

#feed {
  flex: 1;
  overflow: auto;
  padding: 1em;
  margin: 1em 0;
  width: 110%;
  border-radius: 7px;
  margin-top: 10px;
  margin-left: 3%;
}

#feed article {
  border-bottom: 1px solid #F9F9F9;
  padding: 1em 0;
}

.feedButton {
  background-color: #003D79;
  border: none;
  color: #F9F9F9;
  padding: 9px 25px;
  text-align: center;
  text-decoration: dotted;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(172, 171, 171);
  margin-top: 10px;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
}

.sendButton {
  color: #F9F9F9;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  float: right;
  margin-right: 1em;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
  padding-right: 50px;
}

.sendButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.search-input {
  width: 50%;
  height: 35px;
  padding: 3px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  margin: 0 auto 20px auto;
  display: block;
}

.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-top: 14%;
  margin-left: 22%;
  background-color: #F9F9F9;
  padding: 15px;
  border-radius: 16px;
  font-size: 15px;
}

.filter-box label {
  display: flex;
  flex-direction: column;
  width: 21%;
}

.filter-box select {
  width: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 64.2%;
  left: 23.7%;
  top: 18%;
  position: fixed;
}

.search-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  background-color: rgb(255 255 255);
  color: #000;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 16px;
}

.filter-button {
  padding: 20px 12px;
  font-size: 16px;
  border: none;
  background-color: rgb(255 255 255);
  color: #000;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 16px;
}

.filter-button:hover,
.search-button:hover,
.feedButton:hover,
.create-study-group:hover{
  background-color: #00B2A9;
}

.create-study-group {
  width: 15%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #003D79;
  color: #f9f9f9;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  left: 23.7%;
  top: 12%;
  position: fixed;
}

.logo-container {
  border-radius: 50% 0 0 50%;
  padding: 20px;
  position: absolute;
  top: 7px;
  right: 10px;
}

.study-buddy-heading {
  padding-right: 15%;
  text-align: center;
  transition: background-color 0.3s;
  position: absolute;
  top: 0px;
  right: calc(43% - 720px);
  width: 380px;
  position: fixed;
}

