.feed-container {
  margin-left: 75px;
  margin-right: -140px;
  justify-content: center;
  margin-top: -20%;
}

#feed {
  flex: 1;
  overflow: auto;
  padding: 1em;
  margin: 1em 0;
  width: 98%;
  border-radius: 7px;
  margin-top: 10px;
}

#feed article {
  border-bottom: 1px solid #fbf8f8;
  padding: 1em 0;
}

.feedButton {
  background-color: #3f51b5;
  border: none;
  color: white;
  padding: 9px 25px;
  text-align: center;
  text-decoration: dotted;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(172, 171, 171);
  margin-top: 10px;
}

.feedButton:hover {
  background-color: #002984;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
}

.sendButton {
  color: white;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  float: right;
  margin-right: 1em;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
  padding-right: 50px;
}

.sendButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.search-input {
  width: 50%;
  height: 35px;
  padding: 3px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  margin: 0 auto 20px auto;
  display: block;
}

.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  padding: 15px;
  border-radius: 16px;
  font-size: 15px;
}

.filter-box label {
  display: flex;
  flex-direction: column;
  width: 21%;
}

.filter-box select {
  width: 100%;
}

.studdybuddy {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  background-color: #3f51b5;
  transition: background-color 0.3s;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  background-color: rgb(255 255 255);
  color: #000;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 16px;
}

.filter-button {
  padding: 20px 12px;
  font-size: 16px;
  border: none;
  background-color: rgb(255 255 255);
  color: #000;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 16px;
}

.filter-button:hover,
.search-button:hover {
  background-color: #a4a7a4;
}

.create-study-group {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3f51b5;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-study-group:hover {
  background-color: #002984;
}

.logo-container {
  background-color: white;
  border-radius: 50% 0 0 50%;
  float: right;
  padding: 45px;
}
