.MuiCard-root {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  max-width: 250px; /* Define the maximum width of the card */
  margin: auto; /* Center the card */
}

.MuiCard-root:hover {
  transform: translateY(-5px);
}

.MuiTypography-h6 {
  color: #333;
  font-weight: 500;
}

.MuiTypography-body2 {
  color: #666;
}

.MuiButton-root:hover {
  background-color: #304fe0;
}

.MuiCardContent-root {
  padding: 20px; /* Increase padding inside the card */
}

.chatIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

