.group {
  background-color: #c1bbbb;
  color: rgb(83, 81, 81);
  font-family: "Kalam";
  text-align: center;
  font-size: 20px;
  justify-content: center;
  border-radius: 10px;
  width: 10.5%;
  position: fixed;
  top: 2%;
  left: 16%;
}

.members-panel {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 200px;
  max-height: 200px;
  background-color: #fdfdfd;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  z-index: 10;
}

.members-panel.open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.member {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: cornflowerblue;
  font-weight: bold;
}
.member:hover {
  color: #002984;
  cursor: pointer;
}

.members-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #c1bbbb;
  color: rgb(83, 81, 81);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 999;
}

.members-toggle-button:hover {
  background-color: #fff;
}

.leave-group-button,
.delete-group-button {
  width: 130%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3f51b5;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 110px;
}

.leave-group-button:hover,
.delete-group-button:hover {
  background-color: #002984;
}

.leave-button-container {
  position: fixed;
  bottom: 100px;
  left: 30px;
  margin-bottom: 30px;
}

.delete-button-container {
  position: fixed;
  bottom: 75px;
  left: 30px;
}
